window {
  background-color: #1e1e2e55;
  border-radius: 12px;
  padding: 20px;
  font-family: "Ubuntu Nerd Font";
  font-size: 14px;
  color: #d9f99d;
  border: 2px solid rgba(0, 255, 0, 0.1);
  max-width: 500px;
}

#input {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #1e1e2e55;
  border: none;
  border-radius: 8px;
  color: #d9f99d;
}

#inner-box {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 12px;
}

#entry {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 15px;
  border-radius: 10px;
  background-color: #1e1e2e55;
  transition: all 0.2s ease;
}
